<h1>Editing shared movie</h1>

<%= render "form", shared_movie: @shared_movie %>

<br>

<div>
  <%= link_to "Show this shared movie", @shared_movie %> |
  <%= link_to "Back to shared movies", shared_movies_path %>
</div>
