/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid gray;
}

.top-bar__after-login,
.top-bar__login-form>form {
  display: flex;
  gap: 10px;
}

.top-bar__login-form {
  display: flex;
  gap: 5px;
}

.top-bar__link {
  text-decoration: none;
}

.top-bar__link:visited {
  color: initial;
}

.new-shared-movie {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.new-shared-movie__legend {
  padding: 0 10px;
}

.new-shared-movie__fieldset {
  padding: 30px;
  max-width: 311px;
}

.new-shared-movie__submit {
  margin-top: 15px;
}

.new-shared-movie__form, .new-shared-movie__field {
  display: flex;
  flex-direction: column;
}

.new-shared-movie__form {
  gap: 15px;
}

#shared-movies {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.shared-movies {
  display: flex;
  gap: 30px;
}

.shared-movies__movie {
  flex: 1;
}

.shared-movies__title {
  width: 300px;
}

.shared-movies__title h4 {
  margin-top: 0;
}
