/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid gray;
}

.top-bar__after-login,
.top-bar__login-form>form {
  display: flex;
  gap: 10px;
}

.top-bar__login-form {
  display: flex;
  gap: 5px;
}

.top-bar__link {
  text-decoration: none;
}

.top-bar__link:visited {
  color: initial;
}

.shared-movie-form {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.shared-movie-form__legend {
  padding: 0 10px;
}

.shared-movie-form__fieldset {
  padding: 40px 70px 40px 20px;
  max-width: 311px;
}

.shared-movie-form__submit {
  text-align: center;
  margin-top: 30px;
}
